.top-content {
  padding: 18px 40px 68px 40px;
  .total-row {
    div {
      display: flex;
      align-items: center;
      margin-bottom: 1.6rem;
    }

    div:first-child {
      padding: 0px;
      justify-content: center;
      font-size: 1.6rem;
    }

    div:last-child {
      display: flex;
      justify-content: flex-end;
    }
  }
}