@import '../../../../../variables.scss';

.summary-container {

  .form-label {
    margin-top: $vertical-standard-margin;
  }

  .select-entry-type {
    margin-bottom: $vertical-standard-margin;
  }

  .bottom-content {
    .col {
      * {
        width: 100%;
      }
    }
  }
}