@import '../../../../variables.scss';

.entries-summary {

  .entries-item {
    margin-top: $vertical-standard-margin;
    margin-bottom: $vertical-standard-margin;

    .item-icon {
      @include adjust-text-in-vertical-axis();
      padding: 0;
      justify-content: flex-end
    }

    .item-description {
      @include adjust-text-in-vertical-axis();
    }

    .item-amount {
      @include adjust-text-in-vertical-axis();
      justify-content: flex-end;
    }
  }
}