@import '../../variables.scss';

.DasboardContent {
  display: flex;
  flex-direction: column;
  height: 100%;

  .results-total {
    margin-top: auto;

    div {
      justify-content: flex-end;
      display: flex;
      align-items: center;
    }

    hr {
      width: 100%;
      height: 0.01em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      background-color: $color_clear_1;
    }
  }

  .month-header {
    $month_header_vertical-margin: 1.3em;
    margin-top: $month_header_vertical-margin;
    margin-bottom: $month_header_vertical-margin;
    align-items: center;

    div:nth-child(3) {
      display: flex;
      justify-content: flex-end;
    }
  }
}