@import '../../variables.scss';

.DasboardContent {
  display: flex;
  flex-direction: column;
  height: 100%;

  .month-header {
    $month_header_vertical-margin: 1.3em;
    margin-top: $month_header_vertical-margin;
    margin-bottom: $month_header_vertical-margin;
    align-items: center;

    div:nth-child(3) {
      display: flex;
      justify-content: flex-end;
    }
  }
}