@import '../../variables.scss';

@mixin header-color {
  color: $color_clear_4;
}

header {
  background-color: $color_dark_2;
  @include header-color();

  .navbar {
    justify-content: space-between;
  }
}