.main-content-container {
  display: flex;
  height: 100%;
  flex-direction: column;

  .header-info {
    justify-content: flex-end;

    div {
      display: flex;
      justify-content: flex-end;
    }

    .sub-title {
      justify-content: center;
    }
  }
}