@import '../../variables.scss';
@import '../../global.scss';

.NoSessionContainer {
  background-color: $color_dark_2;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
