@import '../../../../../variables.scss';

.entry-summary-with-filter {
  .category-select {
    margin-top: $vertical-standard-margin;
    margin-bottom: $vertical-standard-margin;
  }

  .bottom-content {
    .col {
      * {
        width: 100%;
      }
    }
  }
}