@import './variables.scss';

$form-radius: 0.526rem;
$vertical-standard-margin: 1rem;

@mixin button-like-style {
  font-size: 0.8125em;
  font-weight: bold;
  border-radius: $form-radius;
  border-color: $color_clear_3;
}

.user-form {
  display: flex;
  flex-flow: column wrap;

  .form-control.text {
    border-radius: $form-radius;
    height: 2.312rem;
    font-size: 0.625em;
    padding: 0.92em 1.625em;
  }

  .form-control.text::placeholder {
    color: $color_dark_2;
  }
}

#root {
  .btn {
    @include button-like-style();
  }

  .btn.btn-primary {
    background-color: $color_clear_1;
  }

  .btn.btn-secondary {
    background-color: $color_clear_4;
    color: $color_dark_1
  }

  .vertical-standard-space {
    margin-top: $vertical-standard-margin;
    margin-bottom: $vertical-standard-margin;
  }
}