@import './variables.scss';

@mixin button-like-style {
  font-size: 0.88em;
  border-radius: $standard-radius;
  border-color: $color_dark_1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-form {
  display: flex;
  flex-flow: column wrap;

  .form-group {
    margin-bottom: $vertical-standard-margin;
  }

  .form-control.text {
    border-radius: $standard-radius;
    height: 2.7rem;
    font-size: 1em;
    padding: 0.92em 1.625em;
    background-color: $color_dark_2;
    color: $color_clear_3;
    border-color: $color_dark_1;
  }

  .form-control.text::placeholder {
    color: $color_clear_2;
  }

  .btn.btn-secondary {
    margin-top: 1.51rem;
  }

  .validation-message {
    color: rgb(255, 159, 128);
  }
}

#root {
  color: $color_clear_3;
  background-color: $color_dark_1;

  a {
    color: $color_clear_3;
  }

  .btn {
    @include button-like-style();
    height: 3.3em;
  }

  .btn.btn-primary {
    background-color: $color_clear_1;
    color: $color_dark_1;
  }

  .btn.btn-secondary {
    background-color: $color_dark_3;
    color: $color_clear_3;
  }

  .vertical-standard-space {
    margin-top: $vertical-standard-margin;
    margin-bottom: $vertical-standard-margin;
  }
  
  .vertical-standard-space-padding {
    padding-top: $vertical-standard-margin;
    padding-bottom: $vertical-standard-margin;
  }

  h1.title {
    font-size: $h1-size-title;
    text-align: center;
  }

  .container-fluid {
    padding-right:0;
    padding-left:0;
  }
}