/*
Color palette referemce from:
https://dribbble.com/shots/14865224-Fintech-Banking-Investing-App-UI-UX
*/

$color_dark_1: #1e2329;
$color_dark_2: #292c32;
$color_dark_3: #707a8a;
$color_clear_1: #f0b90b;
$color_clear_2: #fcd535;
$color_clear_3: #fafafa;
$color_clear_4: #F4FCF8;

$standard-radius: 0.526rem;
$standard-container-radius: 1.526rem 1.526rem 0.93rem 0.93rem;
$vertical-standard-margin: .5rem;
$section_header_vertical-margin: 1.3em;
$h1-size-title: 1.125rem;

@mixin button-like-style {
  font-size: 0.88em;
  border-radius: $standard-radius;
  border-color: $color_dark_1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin adjust-text-in-vertical-axis {
  display: flex;
  align-items: center;
}