/*
Color palette referemce from:
https://dribbble.com/shots/14865224-Fintech-Banking-Investing-App-UI-UX
*/

$color_dark_1: #0B1017;
$color_dark_2: #3C5756;
$color_dark_3: #62847C;
$color_clear_1: #00C566;
$color_clear_2: #61AC96;
$color_clear_3: #97BBB1;
$color_clear_4: #F4FCF8;
